- if @stories.length != 0
  %ol
    %li.header Stories for you to test
    - @stories.each do |story|
      %li
        %a.accept{:href => "#accept", :title => "accept"} accept
        %a.reject{:href => "#reject", :title => "reject"} reject
        %a.pivotal{:href => story.url, :title => "View in Pivotal Tracker"} View in Pivotal Tracker
        %span.story= story.name
        %span.story-id.hide= story.id
        %form.hide
          %label(for="reason") Reason for rejection
          %textarea.reason(name="reason")
          %button.reject Reject
- else
  %ol
    %li.no-stories There are no stories for you to test at this time.
