%ol
  - @stories.each do |story|
    %li
      %a.accept{:href => "#accept"} &radic;
      %a.reject{:href => "#reject"} &chi;
      %a.story{:href => story.url}= story.name
      %span.story-id.hide= story.id
