#uat-bar {
  width: auto;
	font-size: .9em;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 0;
  padding: 0;
  z-index: 2147483647;
  font-family: Helvetica, Arial, sans-serif;
}

#uat-bar a:link, #uat-bar a:visited {
  color: #efefef;
  text-decoration: none;
}

#uat-bar a:active, #uat-bar a:hover, #uat-bar a:focus {
  color: #fff;
  text-decoration: underline;
}

#uat-bar a.wua-go {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  padding: .5em;
  display: block;
  width: 40px;
  height: 125px;
  font-size: 0.001em;
  text-indent: -2000em;
  background: #212121 url(data:image/gif;base64,R0lGODlhPgCAAPf/AFVqKnKSNHaUPLNsJnidMou0OlltNGB8KnqkKGuLK9WlCr5yJ0xdKvfCFm2LM4ewNkVRK2JDJDtEKXOcJm6SJ46zRIGlOHWcKY62PcV0JSUlIqh7E++5CWOBKuOuCzQsIzQ7JcWWCy0xJYVUI0FMK5x2HKhkIZC5QH6oLHiiJjw0IkU1IYGpMdakG/nFG2WFJ61/EM2gGlJlLIxqHE5hKIOsMfO+Eeq0C8SbG3agJlp0JpVdJsqaDO25FIuyPlxLIe6II7CMGGmMJ8KTHYWoQdysE2J5M5lvFe23BnJVGvSNJmuFOTtGJN2sGZW+RY+4PikmIoqtRHKVL3FKJJK5RYSuMyUkJHiWPX2mLHNbGt6sCEpbJkBOJVg9I9l9I9R+KbeJDlhGItqlDIJjHnKOOnpaF/uSKkhVLIesPD5KJuOCJKtmIn6hOldpMZO8Q3mjKH+nMeWBH15zNffDGIWvNImyOayDHbiQFuWxB/C9FTA1JJa/Ro+2RCQjI6ZkJFRsJZW9SYitPIaqQNV7IX2jNHydOOu2HHWYMTgvIikqJEg7IFJCH1pyKWqFNpjASEVVJS0pJNSlEVFhMFtyL32ePumEIE1bLz5IKSotJNyqCG6JOzE1KDU7KaVjIiktIn2mK114J8mXHlx1KycpI8l5KX2cQCIiIZS9RSYnI4y0POmFI3iYODApIqJiJGRNHSwvIyEhISIiIiIhISMjI5nCSeuGIvCJJCMiIpC5P+64B5fAR/qRKX+pLvXAE/S/EpS9Q/2TK/KLJZjBSPrGG4CqLiMjIqdkIou1OiMkIvjEGuOvBZS8R/iQKJrDStunF6hnJ3GYJqB7GYKrM9yAJUA1Ie6LJvaQK6Z+D69nH1BlJvaOJ5O7RWhSGfC+GTdAJP6UK+m4GOGuFsiYHTc/KJa9RpFwG5l0El95LIZjF1luL8p3Jcp4J+i0FoKlQHRaF3qfMnugNXyhNKJiIneeK6JlKGiFL/S/Fb2TDdCfCuuIJYOqOYWqOYatOiIjIlp0KCEhISH5BAEAAP8ALAAAAAA+AIAAAAj/AP8JHEiwoMGDCBMqXMiwocOHECNKnEixosWLGDNq3Mixo8ePIEOKHEmypMmTKFOqXMmypcuXMGPKfGkK1ZkogDRpmPmvHyZOkjRFadbsyk6YyERIaHOFD62nTwVogPUSFokry6BqpWWUqktYcrZuLTX1pSwDuoQJWxZFgAEDpQQtKevyrCO1VEoZgcCJ0yYRsWDKaqNW7TY+FYhoMiDBFExYIiwtacdHl+XLZI5+jTUL1SYDFS5bNvp4lAQDAgRt28OaddeqkqiQa93aybbMXlvCMnCKtW3ERJZY2hTYbJtTTpxUuCKHxKZxEjY5NmsguRM+lJa0kSOISmbBlgT9/xpPnjzpqphIGCBDxI3797irxro165UESY3avZeaWzesWPPNksg4cvDhBn9ViXDJJXrAIst8qEBgiQSxQEbCJeP0ZxIsMqARiAMkQCAiBCSUCMEZDgQSyCoalgRLGyfE6MOMNNYY4wlsFIfSYE/g4uOPQAZZiI4nDYZBkEgCmaNKRj6Riodo+PDEEz54qKKKqxBpkizpYIBBACFCIMkqGBRyxognXqJlSbJA4IADZ8wi5yyWHJNKnHPOUqFKsOhR4oKXSEBCI6mU+QosiCbKJwOFFMKGBZDuc8yk/EjQYkovTqrppsfok6FZMtRRwKikkhpAIpfuGGqppRJAYapFAv9QRx3wpDPJrelYosctsBZJghF7jZLIsKjoiehjnInAgAPwxHPIJCCY0utJiIIQwAPYZksIBNOehIkD2Yb7ACEgdEsSLAyESwcd4YrSj2D1rBvPAe9I00EAVdBxSCIwxSIFHTWkI8Ih0kgwzjt0vFPuS/5WAUcaA0szDiqHVEHAwi7FkoDDEAwc8DksVCEFqgwzUkMNjIggRQ0snIwyMuaKFEsacNQgBRcJuFzDxWvyicoBcNAAwsossHBIGrw+VoweXFiRCAPniMKACBoUE7NIsHgjAw1pFGOFFX2IQAMAjxTzWDbEECPF2ADQ0EHaCWjWkiw0oMDL3Xjj3QFdc9f/nfffcV8NEt1YoGD44YbPAwDMZmVj+AWMiHLAPIZTAELPKcnCRQcdbIHKKJhsMc8nb/iDymOoYIIJKgDGgkkCn8TOhOAfOQigLInGwgDnHXhDe+2waMCFDi8kcMAWeowyCuNVvQLKGwhEj8AbQnhT4e8eoQKK9NwjIIQI2HcECxfdd5/NdF9tj8AFL0yQwgsURC/EKP0K8UYKf+ghRA5MMAHNGxRoEMPsd4E0vIICOQCBFewXwPBtJBYvSMEEIIbALWTDfRTwhAM1EgtGpCAH2cCEEFIAjRykIAU6YF5LYsGFEwqBCRE8oQStt8GMwCIRHcAfCEZ4wgmUrYY2ZCEo/zDxigNAgwIveATrgGhD+mgACqyABBQisIAv7KAPMYEFFLowAno84xn0IIUZvkEKKMQECjuwBjDWyMY1LoBvLIHFFMxAxzra8Y1MtAgsBrCLPvrxj+uAgldY0QVWqCQWGWAGM7TxhQU40pEZ2EFZYIGIBQzgAymJxQK0oY0FrOADoAQlIiBRHFh8YJMDoEYeGxKLKVRDCQuAQutm6RUtDkAJSlBHF1a5EFhYYQfByMcCWuGHYhrTmK1YwzSCwUwvTIGXCYFFFzJgi2pa85rYxKYaRvABaBoEFiPIBxDGSc5ymvOcqhiBNwsiixGoohbwjKc85znPSuwAEeskSDsrUf+JQcijE8YwgQmMEVCBmqATaxgEPyvhTCvsSSSyiMAaTDAFsPXhohjNKCRMEIc4ZKALxsrnQP6jghKEYggzQASAVBAGDczyA9iIAzZWYCwXISIUw8jpMIbAijG0wBBJqCUisGGCD9wCdxsqgQuWutRkzMAOSxXHUWBByA9c7ySxaEEytsrVIbiiCckwxCKoYruHnuQWYJ1DDILQjWS0IAw4SMYcxlDLY6XkFi2YAzh+oAIcqFURfp1DOTB31hI0IA9jUEQMGmCHrzagATMgrEliQY0Y9IIdzrBHA5oQDs3mIQuSZdMMetCL0prWtEVQRGhJEoto2MAXsI1tbKMhSIbklcAGuM0tbntwBxWYlSWxuK0NihCEOxg3CDP4wCxE+pBYzCASkSiHFSBB3a/NAqkMU8EiFAGJWdziux9AxxGCiqxZKMIVSShDGZKwgRtwQAxlcMUtvrICMIjBA/jFr3s5wAEPiGGsuoEBfwdM4AEjwRzMXUgs8JGLBjv4wQ7mwWpDcgt8IAEJylCAhhWQiQvjQQFawAcrEpyQW4QAw1lAhApUgIgsaAEJ96CGCqjRBxIj5BbXUEYm3NEHOfWBGwpQBhig4N3foiQWXwPb9TiT5OvZGCH/KXItA2Rknlj5ylgWSEAAADs=) no-repeat -4px -10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px
}

#uat-bar a.wua-go:hover {
  background-position: -2px -10px;
}

#uat-bar .wua-pop-over {
  min-height: 450px;
  width: 0;
  clear: right;
  background: #212121;
  color: #efefef;
  text-align: left;
  padding: 0 0 .75em 0;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
}

#uat-bar .wua-pop-over ol {
  height: 450px;
  overflow: auto;
  list-style: none;
  margin: 0 0 0;
  padding: 5px 10px
}

#uat-bar .wua-pop-over li {
  padding: .9em .75em .75em 95px;
  margin-bottom: 5px;
  position: relative;
}

#uat-bar .wua-pop-over li.wua-header {font-size: 18px;font-weight:normal;border-bottom: 1px solid #2c2c2c;margin-bottom: 1em;padding-left: 0;}

#uat-bar .wua-pop-over li.wua-rejected {
  background: #a82a30;
}

#uat-bar .wua-pop-over li.wua-accepted {
  background: #9ec74e;
}

#uat-bar .wua-pop-over li:hover {
  background-color: #323232;
  cursor: pointer
}

#uat-bar .wua-pop-over li.wua-header:hover {background:transparent;}

#uat-bar .wua-hide {
  display:  none;
}

#uat-bar input {
  clear: none;  
}

#uat-bar .wua-pop-over li a.wua-accept {
  position: absolute;
  top: 0;
  left: 0;
  display:block;
  width: 25px;
  height: 28px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAA1CAYAAAHUouBxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABwBJREFUeNpi/P//PwMMMIGI+Sf8/zMyMkI4IGDiJJHAAFImKCgoBlcGBK+AAgwsUA4bEP8Dy4SWC5gBqT8AAcSIbDRIswrjvON+YCFGII8ZSAuDNPwFGcXgnSSjdeTG3M+MmX1K7v/+/ucACCAGmHYjR1Hn0CJZXxAbbBvMFBDYM/+LBNjWT1/efUHYxsAGtl1ISIgBGTAxoIHcWaIXYH4Tv/Rw6zcgrQ7yFqrjoQAggLAKwgGys8AWFc9WXo7sLKb0LsV2bR3tCD4eIZ6+nZYfwYJMzIxKMBV8vMK8YMEVLe/7YYLvPrwEq2SEBqMgkGIF4h/v37//xAjhM+D3Jjzo0BSxMMW1CvXJqLPyuKfwqQqIM7sDBX8xAWP/v4gsS4aaGfs+jxQ+WbD2T2/+3jX24Dr58v7v428e/+XFGSAAAcSALqhjLSCZ1ikfideZQH8w+mWJ7rSw01/mFi0djxHuwLhkyZsl+kBeRkMaPWhao25JAEPjB9jEiBrBpciKQEBIQJwfhJN7hNcgrP7L8h1bSP358+vPp+fs55Ct5gSyfYp7nEoYWL+B2Az/gODXV5anU2uOhQCt/s6AN20QnYjQIww9BeNUCPRZ2o3jPz78+4cI1w8v/16ubsk+GuPU6wzkXgBL/P75XwOI+cpLqmcrG7L/LC2unCWvzZa+59T8dKD0WVC4gBWCUsGpLd+WB1hXSV8/9kOzOLspbsfsT/XfPv4TRI8ZASBbCoiRfQZKr4+B+DOIAxBARPsaJUEUz1Ful1XjksCXuBn5hdkTM3tULwM1MGFVJKvDqCUmLAsLSHYMRdLKXNLx1WpH2VjZWW+c+XAIKPQT2RcMmX2KhZr6si08XAJcIP6Xbx++/fr18/eLp2829aTcjWMC2s2mqi3RAFMAAiA2KM09v/vnO8w6fhYWVhZsvrVyV4kHGsLLBLMSG3j2/NELUNkGUvQflACxKRIQEOQHeQCk6NvLx1/uYFP08Bz7IlARwvzjx4/fVw/9PKSnaab4+fOH75/f/Xv16e2/V+9e/ngm/Mtl5ZZN2y4xIkUJyHfcSG4EReoHYPr/TVzax1ZakZVBWIjJGExEZzNcIKlL2BPoVzmQIubUfuElVw792AiT/PeX4YuRG2fm+xd/XwEL7FKQIp63T/8e1XPglJyZ/2YqSFH2dJFjf34xsAIVpAK5b0CKGP/8+s/GwsaYnTNDNPHfv/+fLNXjVebMmZkBlHsJdzgbJ+OPqZmv/YGhwVcbeNGqs2laiYIumwksCTNBqg8GUCq4BlTo17JB/8HlA9/XAzUwwqIIZN0/IUmWAGD5cBroYMZHV3+nJHYKK3LyMFqD5GDRAjJNEVqPI4MfQPwAFNFERQtAgJGezQnFDKgpgqt4kNFk1AspEd/Bwc7F/ubVx71zit7GANPiT3LSAquBM68/Nycvp6iQtKCIGL+TWzJvMihbk5RmpBR4RCKqhGbKyIu7CvCJ8P779/ffp4+fPu1d9PEiLjeAwwzmTVBMOMZx2qubcreIiAjrCPKL8cEUgkqdK6cf7/r75/9pdh7Gr6C4v3n66/YzW37fBXr7P3KBzGjqw25i6ce3XkpcUYwVWK4RCuzvP778uHX94f5F1e9igYa9RQ4zPhUjrnxhQQkBYgwCByYrOwuvEJN6cBl/MLSpBzeM/f8/YPOFEXcphxHYzKwsosIS4mwcTB6gNiPRORsX+A2s34GV2CVQAYls2J9/H8Vvf//x9Qcxhvz//+///Yc3H1879n3Xu4vqx2CVHyxpfFw1+casHPZoxi/SZ/y5RX5JsrNxsDIzszLjMpCXj5dHUlz80fopx04AI+ArStIApXYgnwOIRaBVLagg5cRRW4Ca1G+A+B4QvwYa9gdru4wSwMRARcA4aF1GdBuMLi5L6BASSOsX1gQFGbwIMvfjZjNw5kxlYWPwgiYRzABmZPz/89u/6QeWfdnmFMtbo6PkmHH89J6FCyreTUTuLHEBa4aGd8/+PN848eMOUFcAm2HAKk/SIoB7ooN2psqWw1OPLKp51woUvgvEoFLjD7xHCOzFMbNyMDJmTxNZYKWRoHH0xoJDb578yVzV9uGpby6/lJwm62p3g1Ld3Zd73tVXdpc8u/37AKhtgmwxSkkLrDb/Ts16k33EeaqdTQh3TlboxFv2Vtu/G8mHcX/68fLvin01l+aXvy1P7BDy/fOb4ffi2nePcRbbbByMoIrixsW9328C8e7j7pleVoHc2bJChmxLtrTvBLqyDtTFADWogWEHCldm3HUAI1gSlIpB3b2r53Z+ewjE27bp1yreu/jrMlDsKRBz4UoFyN0MycAi/hBgla3CxMLwB1dS+PubgfXprd+nds75tAPaaviFbhgD1Mns0GodX4n7D2rAT1ibAAYAHCnJTzS4+XkAAAAASUVORK5CYII=) no-repeat 1px 5px;
  font-size: 0.001em;
  text-indent: -20000em;
}

#uat-bar .wua-pop-over li a.wua-accept:hover {
  background-position: 1px -24px;
}

#uat-bar .wua-pop-over li a.wua-reject {
  position: absolute;
  top: 0;
  left: 29px;
  display:block;
  width: 25px;
  height: 30px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAA1CAYAAAHUouBxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACH1JREFUeNpi/P//PwMcgDjH3bz/WwsKBzOBBN5//fL33I9vGxlBMlxcXCDBfwzIelhAxGR5lQe//v9/DtZT9+mtCSsjowhAADHClLGccPcBsxg5OTk1gLQYiMGACrRERKVWGph+ZxQUFOQG8k0AAgisfbuV/TchPj6wYsdDe3nAtvFwcXH++vMHplMN5jgGWVY2H2kWVpYT379uYETxGLJje+VVNj9iZlws8eef61+G/7fBKoWEhFhnyip9fvHx48vt37+WwwT5gRpYoTrfAgQQdjN9RcXFa4zNXoA4d58+fZdy94Ywky4750SQahCWExcXAKt88+fP/d9//4K1vf/8+QeIZr7+78/+j+8/qCpycKhEXblgAhR7Aw7mzV8+Rv9nZATZfh0WesgeAQcAVidhBYyFUnJWoswsib+ZmZ99//P73cyvHycyybOyzpDm5Q3j/PdP7fP/f++BCjmYWTg4Pgr/+8eoICAY2P72ZQTYwn455RPAuLEFYnYgFgJiVlBkMQNlRUFpB4h/vH///iNAAMGjI4lfWESJjX0KUIUYzBX/GBgeVr9+lgTSAI6NIiGx2b46uinozv379++/wr9/LvW/e9UPTlbAYOP7++8fAzpmYGRkYmNkdIKHBtBqtUYRya3GysrKjEDw89evP89ev/4AVPw//+kDXaC6l+B4AYUnFEs1yCic22pl/z9FXDocSRxuItxd3ExMqjxMTH4v//xZBOS+hgcvukKc8UB0jBGrEBw8WVJy5cDYUGqTU+qERo9gp5zydCAllSIlWw2KKbBCNVbWKCD1atKXD+dnyCo/XaCi9fbwz2+/gGK/tFjYvEEJngXmVpCH20WkZix5+Wzu6d8/znaISk0Q/vTh0H+IrYywbGJaJCoZx/3zl/6TP7+XCjMxW3AyMSm/5uVeelFY4M3xS5fWAQQQUb5mgYYfY5OoZCUrA6MLsuSjP7/ip79/8xjkNsY2UakzlpqaRugmXLxwzh9ITQE5jkdZQkIdmzWektItMF9yglIINrc9fvfuLZBiZ4LFxD8sWENKShKUY0CK/n798eM3tgR64NHD/UD578ysrKx/nn//yqLBym7MycHBDjLh2Zs3H1++e/flwY8fRy/8/L4BlvB4gTgQWKw+3WXn9L9KWn47kG8MxKIgeSaoGz8D8WZgbsr89PXbT2VuHlMg/wIsUTIheebP7///D7x69+4DsPQB5hgGNpgEyE3Ivv794e8fpnnv30wEsu/AUyxmaQ0uE/9Acz2iaEUDv8lK+0wMdAWgMoypkU/4yqXfP8uBNYgVsDARfcfAcILlzx8eeXaOqsp3L6WYgUEg9ODPn1vHf/04ocvCxj758/tZ937/vCfPwvq7/9O7xeas7OKgIGDTYWX7GczJM1tVWNgd6JMkTT7+GZ++fv0ElLNSY2VzBhftQOJf75f3JeffvD5rJSm97OPXr5+B1WY0rFQHKWI+8ev7Sw0WtmeaPLy6bz5+eC/Ozy+cwc0PrkqO/Px+HRxORqwcMq4cXHM+fv/+ufj1s9QL796eF2dmngByiiUbpw7ITT+lmVnEJn/5UAktqc/P+PoRlEz4ZBmZmd/8+3sDXJv8FhJUSuPlZRT89t0dGLtS7/7/28HJyir8i5WVZ/KrZw2gsoABWjmzQ1MAI6RchpT9QPwVIEDzVRbaRBRFM/tkkoxNTdpGsYoURK39aN0tWEREpB8Kihu4oSJFEPzxQ1TELwVBRFzAIghVpC6goiJWpS4oiii4oFVjbY3RjJlk0kxmJjNvvK+8kbpH8cOBR+5M7rvc996559xXOrmV8PRDilACDTrRWMGy+4dFotUBPyTGsszPJqZUVX+kpLaAdhz0YOjhk9tQXtFSF4luH15VNeh3GWARSoCmMT5q8oJQ+GJ7Tn2Fl+tBVAZjUkAUuVKWwzAMDZw1ojYSmRNi6IWYWwdmxkBlMnj30B/socDzXIzhGr4rQ9t1DdtxXIQlsoQHIGjcftf78KlldGJehNHnBSu0a2pbjOUaKZqOlQWD/hKUiwKhNDryuVO4cRookBgzIaxD4NAAmzq/MVoxAYJKeCnYEXgqeyaZ6HhTtHrA2TFcpHRZJs7qMU70R2pLEUDiPqN2sRxeMyNaOXNwWZkMfu7L3t6ewxllNgSJE8B+RV3fEg7+A8thL4yO45q66WQyceC9oqg29ERBUQxOEKWmARTnlspe2LkbsjhrmIbZnUgkbmTSF45paifJ6se9wi+aCrxsGUYlsRWyP/bfBPsz1vyXhf5Pg/n+22Bes9RvN7NCrEYQ61KO/W4oy0+xfW424zhdEYYdb/nclIGQItPM6DxCPaaL0pCG3lrIPfbw5gULbA6Vn0oiO96a19rge5rIOyIgFoltk+/4l5vIi/XNYmDbTVOfc9ksPPEKXQJPo9u2j+NWalMovK0qEFyd0/XMR+Rs2NeXOQ8T/TMF6VA0EGjWdD35xi6uPKJrl5oE/6xymqmBec+/MG3ctu68dYoFTHTQbV5dhtCkMfKgukqeP7FbCuhAnLj98iVV9dMVQz93wypgmWTjdvEeBO63vXKiR3H8kpEsj/UrXXDdjqO61vJCy94FfkMRWQ6LHCe8V1XlllnYA4F2kVtTcRTLz69h+ZEDydGgfBQCDTOrGVZYKsn7Kv3+uUA/wsdsVrlk5K/VckLN2GBozLxQaEdjLrc+6dgt+/PZe5CNI1AUljrHO4Ah03ix6YVtPUkhhO+A41ZI8sbXTrGr0yycJm1UECbVL5fktQ+K5vX7ltGO2XUyJ079AAcXh1uOFyy6KhxZV+24i9LI2QtXjDtlNDMdUW5GR+hZjGHroZFLqQhlRYqutXwI+IxSQN632lD+O7X0Oty5esHwcssJO9AEBjLBDz4UidhFAg2DDDwv039LgvfPNpvoopFNA+oAAAAASUVORK5CYII=) no-repeat 0 8px;
  font-size: 0.001em;
  text-indent: -20000em;
}

#uat-bar .wua-pop-over li a.wua-reject:hover {
  background-position: 0 -24px;
}

#uat-bar .wua-pop-over li a.wua-pivotal {
  position: absolute;
  top: 0;
  left: 60px;
  display:block;
  width: 25px;
  height: 30px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAxCAYAAAFPM6JnAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABWpJREFUeNpi/P//PwMMMH//88dNJTj7Tsq5QyfAIpcvXfoLohmRlTExIAGwHlcnpzvBYWGoegACCK6H5YSQ+n8GRkYGlhQJFrs3b98ww6XgRmGqAQggiFlFtf93c8r9v9sxCaJBXU2NdQ+3/P+LAur/d7JKggQZURyH1ZEogCgzAQIIu5mTZ0yv3soo8n8ro+j/3Pz8fLDoIVO3/zf51f/fEND4f8wt9D9Y54cr1/+fBpoHwp8fPYEIMjExMWw/fOjeut0774F0ggSJdzwJgjjd+ePKjcMgTLo7AQIIHKPMzMwMre3tDi/fvX358u7938/fvHkeFRNjxc7ODrYXrFBPT4/126nz//fyKf0/CzT2EhCfAeJd7NL/v129+Z+FGRL/TOa2tvZnC6sZuJhZGbiB2nkYGIE0IwMPNw/DxfImBlcPDze4nxKSkotuTp7zfyuDyP+dLFL/tzCI/X+0cv1/OweHUrxhSXSo0Uch9cORITU72+Wwtdf/44Lq4AgGRSI4koFZ6rhP9H9Pb293eMgQE44AAURUODIxMjIyGRsZMZy+cnnN60ePv7998vTb3mNHlzk4ODCA5MA+lZaWZnjy5Mn/zVyyDJx//zP8Axr8h4uNwfXNrb9CgoIsnz9/ZmDqnzJlxRZOWQYRTm4GMS4eBglgAhBkZmfYLanN3DNlylKwSa+ePPl9QdGcRRwoCUopIPCZ4T/Di88fGbTvnvwhIy/HyfTr9x9wEgY7/z8DA8wbjEDGj79/wVymldu2rPzDzcnwFejEz0AZkClfgOw/0mIM85Ys3gjWwMvDw3Dz0aP/F7VsGRjfvGX4/4+RgVFOkkHj5DYGBXEJSAr+/OULk6WhIeOeRN/FYud3/RS/uPPXRj+bZSAFIEMwik6Kks8wV0Tf9MQASk+7WKXBpT4MXACydzBL/H/84OF3cASjpCfkHIwrPV0U1GC4AMS0S08AAcaIhP+LiIj8T09PZ3j1+rWEiZWlLQc3tw4TKysvByvrx8f371/69uHjsc2bNr08d/48w+/fv2H6Gf4jJUpGHqDTDA0NWbr7+iq/fvv25f2hE/8vpBb8P2jg9H+vitn/A0bO/6/kVv7/cOLc/3ffvn5ctHhxgZGRETM8LEABBDIPVKz5+Pg4/v7/78v1yub/Gxj4/4Mq1iPAgghUv58EFUhAfBSId3PI/l/HwPf/Xt+M/x++f/tsZGxsASt/wGWQk4uL2vwli/d+qO2WeTx7MYOAkBAD5z8GBnZgZLACkxTIH0Auw28g/yeQ/g6Mk4/v3zKoNpQz/I4Lfurr4mpz7+7dB+AocvHy0mJ591H63dGTDGxs7Aws/0GGMDCwAQ0C0SxgNggzQvjAlggbKwfDq50HGHj//hezsrMzhifU/du3X37DxvRE1MOJ4devHwy/gYp/ASV+AN3zC+gaUDD/BOP/ED7Qsp+/fzCI+nsyPPr86c32TZsuwAMfRGhra9uu27lj8//VW/lvF9UxcHBwMLBzcgJdCVIASX1/gJZ8//YVlOoYdOZMYHhvpvvBx8k54MXz5weRSxhgToGUjQnJyYVnrl97+/rGrf9XW/r+n/CP/X/UIfD/yYD4/zd6pv1/c/f+/2MXL7y3d7AvB7XjoPrgsQlPcAyIYpSBl5ubiY2dQ4lHgF+RhY2N98+vn19ZGJnuAV1xH5h0/iD7CjmdEV0zU72uHTVskBs2QsozBlB59vDF88cXU4uAjS5RsCGgZt39gITL4Fbbv38fQfT9gMTLoGbeYUE1oDrh/zcbuv5fuXf3iaKSkgLMMJzlmcK6eXLs2uo2wGKAD0QrrJsrR3Z5dj8o6dHPqzePAK38BKLvByU/GrrlGQDr9ThSDN5z3wAAAABJRU5ErkJggg==) no-repeat 0 10px;
  font-size: 0.001em;
  text-indent: -20000em;
}

#uat-bar .wua-pop-over li a.wua-pivotal:hover {
  background-position: 0 -22px;
}


#uat-bar label {margin-top: 5px;padding-top:5px;display:block;font-weight:bold;border-top: 1px dashed #2c2c2c;}
#uat-bar textarea {width: 250px;height: 40px;margin-bottom: 5px;}
#uat-bar button.wua-reject {
  display:block;
  width: 60px;
  height: 25px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAWCAYAAAHrzM+0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABvZJREFUeNpi/P//PwM+wDRVQdXl379//096+P5/PG8hmAbhj+cvgGnGKfIqLooyMrthOrikJBm+PXsONwEggBjxWcECMkJv3UqGXzdvMTxftZbh6+07DGJeHgzPVq1hYHn75QsDEzMzw9HcQriOl/MWgGmAAALba6GtvZuBDMAEIr78+MGgOGc6g/baFQwfv39nUGquZxAM8GPQBor9ERRkMN66AcwHYanMNLB6EAbZDNK/gwyLrwIEECOhAMcHWM56B5Cl+/Ldu6+Z/vz9y/Djzx8GrTXLGXRXLGEA8UGYW0+XQcjdlYFZTJRBLDgQTIP4MHmQjUw/fv9m+PrrJwMLCwvDb5BBQD4Ivzx1moEFqIHPypLh85MnDDqT+hlenToDl/8H9C7jVmsHsLOfAUNZkI2NgRMYp8SApy9fvgaFtg+QnUOqn7Mf3PYACCCQZmZ5cfEPUiIiPAx0AOCccv36FBYg21FCWJjnHzS6ObQ1GeRSkxl+vnnL8HrXboZvwDAC5xYVZQYWXh6GP5+/MHy7cxfFMHYJCYafL14QZzMjIyM3B0cEyGKGn39+g8W+AyPKrrWJ4R0wOwoaGzIImpkwHPf0ZWBiZGRQSYhlEDAyBKs76ubFoD91EsOP588Znq5czcAHFJdPTmR4OHc+A7eqCgOPqirDzZY2hj/A/ChiZ8vwBKgGxdegSAblR3UFeXB+BPn56fdvDDZAQxX19RlW2jkyiLFzEPSEQlQEw4NlK4gO7gfPnoMTiIS0hPgzYAgwwiT+AF0EcoA0JxcDC0KYauDJ8xd3AAKIoqxMCQD5eKuFlpYnso9pCR6/evXJ//QxfhYhPj4LUEqjl79lxMT4gBWQJgsoqGHBDUptyg01DD+AWYlPTYXhel4xOEWDAJ+hPpj+dP4iikEgcXQxoiuKv//+gTGLkz0Dr6EBw1NgNuAFZomfwKIMJiceEsTw/ux5BpNtG+F8Ri4uYIHwH87nUFaCs1nExcBqQTTMDBgGF/UgX/759xfM+QXMx8CShUFARprh169fDCzAwuTPmbNgOX6gg8x3bAbnVWNgyQ7KvyAaBEBijNxcDBrtzQwfzp0H5uF2BpnwULDc16dPsfsYFMx//v4D4ycHD4OD/dfXr2D6MZAPk3sPNPCgswe4oPh86zbQwGdgMRD4eOMWWD1I/NPN2wyCNtZgdZAijwtuBgyDU/UCTb230mKiQuASDOjz60Bf5x/Yy7A8IJhBGFg8sjMx4Y0rlwN7GPY4uJAUvzcfPNQCB/WvP5CgBiUjlf+MDOurahg0Q4MZXs9ZwPALGg24wNHkdLh+kqrzn79+/fn99w8iY4NaJfv2M1wGYmE2doIGvLl2jSQLf/8BVwz3YS2YqUCsTKes3AKsj48ABOjG6kKaCsPws+2s7eiycLNc0EAvjBqmQQVSo7pJhKCbMCSi6IeCupAuKsSLyBIj6DYqlQwjy2Qh5eiHMrUrLSuxsiERKXNZs7Spc5un9/3m8Wc1MyIjX3jhHL7vnPM97/fzPM9RP5xMeZIym1KPuRV+yptjgP0M2G6S5fr01FQL5nC0dHR4aXnZWX9Y50mS9l+R42wFYyTAiyRV74xGAeY7JcmC1ZfOQ2eIbOaP7a/gefoM8oIEfLr/ECC3o4861pYVF43TmBq+xifoLD4TczBrXLXoKq+Ap7rmt0Dwt3yNTeh13f1lXxVdBLCijFOVGsN0XhvsKzBKgILkk7hPa50LiTYbgoEA4rLWwks2L2HspJt4sQJyk3h9vFDcL8ndBtve3XhP1Gh2rBfX3M5KNODpQdvh/AnVSWSSWVGKMPEDq1Pu4z5dIuT08pJTwk4arMmRIjY0icIakhdHCIvapkesTAXMvmdyMC2DgHGblkCPEGid0ARh1uMIk9kaNhqg9w9OmWXuL5lMiM9YKe4THevEgL91dWMVgWWqZib10UrhYEMmdIgyCnPOZvHsh6obkZc9bhCMas3JFs+1HS2YMkbhpe/U4cubjhnPsFatLgOenKR40UNL5cKWrfC43ZAIbNqmjegnk/K8xom3tbcR7usbL5aagmAHBtDb3CLSW98gTI8SJ6P5wCHRnrJvD5Zuz0Xgaz8Zye4xN6Xg3dUqdF4sE23ch/WO51E9Xp4oEs85HriQ5axGEhWAv8Uzy/3mZ2b8MP7oVM8o4V3iZfm61WJJ/FlVgrTUP5P79dFs5l0ug4WW9IvScngqr4mZ/VMVnrIjD2kH96P97Dl0URH/mpAnQ02iY4MkVC3PSji2bDHryamPhHDvWAHSd+1Eq/MWFtKSxgzd+7S660qlyFnw42KnqsKjUDYajxiNBqPEPzJi7IEQ63C6kjRa6Ggfa/4DOgoFQ8HB4aGhQGAkn4RHpWau8290fAfjFojmSKYJGAAAAABJRU5ErkJggg==) no-repeat 0 0;
  font-size: 0.001em;
  text-indent: -20000em;
  border:none;
	cursor: pointer;
}


#uat-bar .wua-go-spinner {
  display: block;
  position: absolute;

  left: 13px;
  top: 54px;
            
}
